---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Experience" sideBarActiveItemID="experience">
  <div class="mb-4">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      class="mb-4"
      title="フロントエンドエンジニア at 電子チケットサービス"
      subtitle="2022年1月 〜 現在"
    >
      <span class="badge badge-primary">Angular</span>
      <span class="badge badge-neutral">NG-ZORRO</span>
      <span class="badge badge-neutral">Jest</span>
    </TimeLineElement>

    <TimeLineElement
      class="mb-4"
      title="フロントエンドエンジニア/DevOpsエンジニア at Webノートアプリ"
      subtitle="2021年1月 〜 2022年1月"
    >
      <span class="badge badge-primary">Angular</span>
      <span class="badge badge-neutral">Angular Material</span>
      <span class="badge badge-neutral">CodePipeline</span>
    </TimeLineElement>

    <TimeLineElement
      class="mb-4"
      title="フルスタックエンジニア at 錠剤検査システム"
      subtitle="2021年2月 〜 2021年3月"
    >
      <span class="badge badge-primary">Angular</span>
      <span class="badge badge-neutral">Tailwind CSS</span>
      <span class="badge badge-neutral">Nest.js</span>
      <span class="badge badge-neutral">MongoDB</span>
    </TimeLineElement>

    <TimeLineElement
      class="mb-4"
      title="iOSエンジニア at ノートアプリ"
      subtitle="2020年4月 〜 2021年1月"
    >
      <span class="badge badge-neutral">Swift</span>
    </TimeLineElement>

    <TimeLineElement
      class="mb-4"
      title="フルスタックエンジニア at カラオケ予約LINEアプリ"
      subtitle="2020年1月 〜 2021年3月"
    >
      <span class="badge badge-neutral">Vue.js</span>
      <span class="badge badge-neutral">Vuetify</span>
      <span class="badge badge-neutral">LIFF</span>
      <span class="badge badge-neutral">Firebase</span>
    </TimeLineElement>

    <TimeLineElement
      class="mb-4"
      title="フルスタックエンジニア at IoTファイル管理システム"
      subtitle="2020年2月 〜 2020年3月"
    >
      <span class="badge badge-primary">Angular</span>
      <span class="badge badge-neutral">PrimeNG</span>
      <span class="badge badge-neutral">Nest.js</span>
      <span class="badge badge-neutral">DynamoDB</span>
    </TimeLineElement>

    <TimeLineElement
      class="mb-4"
      title="フルスタックエンジニア at カードゲームシステム"
      subtitle="2020年1月 〜 2020年2月"
    >
      <span class="badge badge-neutral">React</span>
      <span class="badge badge-neutral">Material UI</span>
      <span class="badge badge-neutral">Firebase</span>
    </TimeLineElement>

    <TimeLineElement
      class="mb-4"
      title="フロントエンドエンジニア at カラオケ電源制御アプリ"
      subtitle="2019年12月 〜 2020年1月"
    >
      <span class="badge badge-neutral">Vue.js</span>
      <span class="badge badge-neutral">Buetify</span>
    </TimeLineElement>

    <TimeLineElement
      class="mb-4"
      title="フルスタックエンジニア at 木材検査システム"
      subtitle="2019年7月 〜 2020年2月"
    >
      <span class="badge badge-primary">Angular</span>
      <span class="badge badge-neutral">Express</span>
      <span class="badge badge-neutral">MongoDB</span>
    </TimeLineElement>

    <TimeLineElement
      class="mb-4"
      title="フルスタックエンジニア at 通信販売基幹システム"
      subtitle="2019年1月 〜 2019年6月"
    >
      <span class="badge badge-primary">Angular</span>
      <span class="badge badge-neutral">Bulma</span>
      <span class="badge badge-neutral">Nest.js</span>
      <span class="badge badge-neutral">MongoDB</span>
    </TimeLineElement>
  </div>
</BaseLayout>
