---
import { Image } from 'astro:assets';
import iconImage from '../images/icon.jpg';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout sideBarActiveItemID="home">
  <div class="hero min-h-screen">
    <div class="hero-content flex-col lg:flex-row">
      <Image
        class="mask mask-circle"
        format="webp"
        width={300}
        height={300}
        src={iconImage}
        alt="Profile image"
      />
      <div class="space-y-6">
        <h1 class="text-5xl font-bold">
          I'm <span class="text-primary">nishitaku</span>
        </h1>
        <p>A freelance software engineer.</p>
        <p>
          I specialize in frontend development with Angular — with attention to
          performance, architecture, and accessibility.
        </p>
        <a class="link block" href="./about">Learn more about me →</a>
      </div>
    </div>
  </div>
</BaseLayout>
