---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-5xl font-bold">
      I'm <span class="text-primary">nishitaku</span>
    </div>
    <div class="text-2xl py-3 font-bold">a freelance software engineer.</div>
  </div>

  <div class="mb-2">
    <div class="text-2xl w-full font-bold">提供できる価値</div>
  </div>

  <div class="py-2 mb-10">
    <ul class="list-disc list-inside">
      <li>Angularを使ったフロントエンド開発</li>
      <li>レスポンシブ対応、国際化対応</li>
      <li>フレームワークのバージョンアップ、大規模なリファクタリング</li>
      <li>テストコード(Jest、Testing Library)</li>
      <li>バックエンド開発(TypeScript)、DevOpsも少しできます</li>
    </ul>
  </div>

  <div class="mb-2">
    <div class="text-2xl w-full font-bold">思考のクセ</div>
  </div>

  <div class="py-2 mb-10">
    <ul class="list-disc list-inside">
      <li>ゼロベース思考が得意です。要件の本質を理解して取り組みます</li>
      <li>ウォーターフォールよりアジャイルの方が好みです</li>
      <li>マルチタスクをこなすよりもシングルタスクを深く考える方が得意です</li>
    </ul>
  </div>

  <div class="mb-2">
    <div class="text-2xl w-full font-bold">働き方</div>
  </div>

  <div class="py-2 mb-10">
    <ul class="list-disc list-inside">
      <li>フルリモート勤務</li>
      <li>稼働時間は9時〜18時ぐらい</li>
      <li>子ども関連で、急遽お休みしたり、離席したりすることがあります</li>
    </ul>
  </div>

  <div class="mb-2">
    <div class="text-2xl w-full font-bold">こんな現場が好き</div>
  </div>

  <div class="py-2 mb-10">
    <ul class="list-disc list-inside">
      <li>情報がオープンになっている現場</li>
      <li>心理的安全性の高い現場</li>
      <li>GitHub CopilotやChatGPTの使用に理解のある現場</li>
    </ul>
  </div>

  <div class="mb-2">
    <div class="text-2xl w-full font-bold">お問い合わせ</div>
  </div>

  <div class="py-2 mb-10">
    <a
      href="https://twitter.com/nishitaku_dev"
      target="_blank"
      class="link link-primary">@nithitaku_dev</a
    >へDMください
  </div>
</BaseLayout>
