---
import BioElement from '../components/Bio.astro';
import DevIcon from '../components/DevIcon.astro';
import TimeLineElement from '../components/TimeLine.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Resume" sideBarActiveItemID="resume">
  <div>
    <h1 class="text-3xl font-bold md:text-4xl lg:text-5xl">Resume</h1>
  </div>

  <div class="mt-12">
    <div>
      <h2 class="w-full text-2xl font-bold">経歴</h2>
    </div>

    <div class="time-line-container mt-8">
      <TimeLineElement
        title="クリニック向け業務管理サービス開発"
        subtitle="2024年4月 〜 "
      >
        <div slot="dev-icons">
          <DevIcon name="devicon:angular" tooltip="Angular v13-v17" />
          <DevIcon name="devicon:angularmaterial" tooltip="Angular Material" />
          <DevIcon name="devicon:storybook" tooltip="Storybook" />
          <DevIcon name="devicon:chartjs" tooltip="Chart.js" />
          <DevIcon name="ngxs" tooltip="NGXS" />
        </div>
        <ul class="list-inside list-disc text-sm sm:text-base">
          <li>フロントエンドの実装</li>
          <li>Angularアップデート</li>
          <li>Angular MaterialのMDC-based Component Migration</li>
          <li>デザインシステム構築</li>
        </ul>
      </TimeLineElement>

      <TimeLineElement title="契約書管理サービス開発" subtitle="2023年8月 〜 ">
        <div slot="dev-icons">
          <DevIcon name="devicon:angular" tooltip="Angular v15-latest" />
          <DevIcon name="logos:nx" tooltip="Nx" />
          <DevIcon name="devicon:storybook" tooltip="Storybook" />
          <DevIcon name="devicon:githubactions" tooltip="GitHub Actions" />
          <DevIcon name="devicon:tailwindcss" tooltip="Tailwind CSS" />
          <DevIcon name="logos:jest" tooltip="Jest" />
          <DevIcon name="logos:testing-library" tooltip="Testing Library" />
        </div>
        <ul class="list-inside list-disc text-sm sm:text-base">
          <li>フロントエンドの実装、コードレビュー</li>
          <li>Github Actionsを使ったCI/CDフローの構築</li>
          <li>デザインシステムのアップデート</li>
        </ul>
      </TimeLineElement>

      <TimeLineElement
        title="電子チケットサービス開発"
        subtitle="2022年1月 〜 2023年7月"
      >
        <div slot="dev-icons">
          <DevIcon name="devicon:angular" tooltip="Angular v14-v15" />
          <DevIcon name="devicon:antdesign" tooltip="NG-ZORRO" />
          <DevIcon name="logos:jest" tooltip="Jest" />
          <DevIcon name="logos:testing-library" tooltip="Testing Library" />
        </div>
        <ul class="list-inside list-disc text-sm sm:text-base">
          <li>フロントエンドの実装、コードレビュー</li>
          <li>Angularアップデート</li>
          <li>デザインシステム構築</li>
          <li>Angularおよびフロントエンド開発の情報発信</li>
        </ul>
      </TimeLineElement>

      <TimeLineElement
        title="Webノートアプリ開発"
        subtitle="2021年1月 〜 2022年1月"
      >
        <div slot="dev-icons">
          <DevIcon name="devicon:angular" tooltip="Angular v13" />
          <DevIcon name="devicon:angularmaterial" tooltip="Angular Material" />
          <DevIcon name="devicon:socketio" tooltip="socket.io" />
          <DevIcon name="logos:aws-codepipeline" tooltip="CodePipeline" />
        </div>
        <ul class="list-inside list-disc text-sm sm:text-base">
          <li>複数人同時編集が可能なWebノートアプリの開発</li>
          <li>フロントエンドの実装、コードレビュー</li>
          <li>Angularアップデート</li>
          <li>AWS CodePipelineを使ったCI/CDの構築</li>
          <li>Swaggerを使ったAPIドキュメントの作成</li>
        </ul>
      </TimeLineElement>

      <TimeLineElement
        title="錠剤検査システム開発"
        subtitle="2021年2月 〜 2021年3月"
      >
        <div slot="dev-icons">
          <DevIcon name="devicon:angular" tooltip="Angular" />
          <DevIcon name="devicon:tailwindcss" tooltip="Tailwind CSS" />
          <DevIcon name="devicon:nestjs" tooltip="NestJS" />
          <DevIcon name="devicon:mongodb" tooltip="MongoDB" />
        </div>
        <ul class="list-inside list-disc text-sm sm:text-base">
          <li>
            画像ファイルの検索、検査装置のパラメータを変更するためのWebアプリのプロトタイプを短納期で開発
          </li>
        </ul>
      </TimeLineElement>

      <TimeLineElement
        title="iOSノートアプリ開発"
        subtitle="2020年4月 〜 2021年1月"
      >
        <div slot="dev-icons">
          <DevIcon name="logos:swift" tooltip="Swift" />
        </div>
        <ul class="list-inside list-disc text-sm sm:text-base">
          <li>VIPERアーキテクチャにリファクタリング</li>
          <li>Swift初現場。書籍や勉強会で、基本を習得しながら作業を進めた</li>
        </ul>
      </TimeLineElement>

      <TimeLineElement
        title="カラオケ予約LINEアプリ開発"
        subtitle="2020年1月 〜 2020年3月"
      >
        <div slot="dev-icons">
          <DevIcon name="devicon:vuejs" tooltip="Vue.js" />
          <DevIcon name="devicon:firebase" tooltip="Firebase" />
          <DevIcon
            name="logos:google-cloud-functions"
            tooltip="Cloud Functions"
          />
        </div>
        <ul class="list-inside list-disc text-sm sm:text-base">
          <li>カラオケ店舗の空室検索、予約LINEアプリ</li>
          <li>
            小規模な開発だったため、Fireabseを利用したシンプルな構成に（Firebase
            Hosting / Firestore / Cloud Functions）
          </li>
        </ul>
      </TimeLineElement>

      <TimeLineElement
        title="木材検査システム"
        subtitle="2019年7月 〜 2020年2月"
      >
        <div slot="dev-icons">
          <DevIcon name="devicon:angular" tooltip="Angular" />
          <DevIcon name="devicon:express-wordmark" tooltip="Express" />
          <DevIcon name="devicon:mongodb" tooltip="MongoDB" />
        </div>
        <ul class="list-inside list-disc text-sm sm:text-base">
          <li>画像の検索や、検査シミュレーションするためのWebアプリ</li>
          <li>フロントエンドの実装、バックエンドのAPI開発を担当</li>
        </ul>
      </TimeLineElement>

      <TimeLineElement
        title="通信販売基幹システム"
        subtitle="2019年1月 〜 2019年6月"
      >
        <div slot="dev-icons">
          <DevIcon name="devicon:angular" tooltip="Angular" />
          <DevIcon name="logos:bulma" tooltip="Bulma" />
          <DevIcon name="devicon:nestjs" tooltip="NestJS" />
          <DevIcon name="devicon:mongodb" tooltip="MongoDB" />
        </div>
        <ul class="list-inside list-disc text-sm sm:text-base">
          <li>
            楽天、Yahoo!ショッピングなどのショッピングサイトの注文情報、在庫情報を管理するWebアプリ
          </li>
          <li>フロントエンドの実装、バックエンドのAPI開発を担当</li>
        </ul>
      </TimeLineElement>
    </div>
  </div>

  <div class="divider"></div>

  <div class="mt-12">
    <div>
      <h2 class="w-full text-2xl font-bold">Bio</h2>
    </div>

    <div class="time-line-container mt-8 grid gap-2">
      <BioElement title="Born in 奈良" subtitle="1986" />
      <BioElement title="神戸大学工学部情報知能工学科" subtitle="2005〜2008" />
      <BioElement
        title="神戸大学大学院システム情報学研究科"
        subtitle="2009〜2010"
      />
      <BioElement title="日立製作所" subtitle="2011〜2016" />
      <BioElement title="フリーランス" subtitle="2016〜" />
    </div>
  </div>

  <div class="divider"></div>

  <div class="mt-12">
    <div>
      <h2 class="w-full text-2xl font-bold">OSSコミット</h2>
    </div>

    <div class="mt-8">
      Angular公式ドキュメントの日本語翻訳等。
      <div class="mt-1">
        <a
          href="https://github.com/pulls?q=is%3Apr+archived%3Afalse+is%3Apublic+is%3Amerged+-user%3Anishitaku+author%3Anishitaku+"
          target="_blank"
          class="link link-primary">merged PR一覧</a
        >
      </div>
    </div>
  </div>

  <div class="divider"></div>

  <div class="mt-12">
    <div>
      <h2 class="w-full text-2xl font-bold">資格</h2>
    </div>

    <ul class="mx-6 mt-8 grid list-disc gap-2">
      <li>ネットワークスペシャリスト (2015年10月)</li>
      <li>データベーススペシャリスト (2014年4月)</li>
      <li>セキュリティスペシャリスト (2012年10月)</li>
      <li>応用情報技術者 (2011年4月)</li>
    </ul>
  </div>
</BaseLayout>
