---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="resume">
  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Bio</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement title="Born in Nara, Japan" subtitle="1986" />
    <TimeLineElement
      title="神戸大学工学部情報知能工学科"
      subtitle="2005 to 2008"
    />
    <TimeLineElement
      title="神戸大学大学院システム情報学研究科"
      subtitle="2009 to 2010"
    />
    <TimeLineElement
      title="Worked at Hitachi (日立製作所)"
      subtitle="2011 to 2016"
    />
    <TimeLineElement
      title="Working as a freelancer and move to Nagoya"
      subtitle="2016"
    />
    <TimeLineElement title="Move to Gifu" subtitle="2020" />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      class="mb-4"
      title="フロントエンドエンジニア at 電子チケットサービス"
      subtitle="2022年1月 〜 現在"
    >
      <span class="badge badge-primary">Angular</span>
      <span class="badge badge-neutral">NG-ZORRO</span>
      <span class="badge badge-neutral">Jest</span>
    </TimeLineElement>

    <TimeLineElement
      class="mb-4"
      title="フロントエンドエンジニア/DevOpsエンジニア at Webノートアプリ"
      subtitle="2021年1月 〜 2022年1月"
    >
      <span class="badge badge-primary">Angular</span>
      <span class="badge badge-neutral">Angular Material</span>
      <span class="badge badge-neutral">CodePipeline</span>
    </TimeLineElement>

    <TimeLineElement
      class="mb-4"
      title="フルスタックエンジニア at 錠剤検査システム"
      subtitle="2021年2月 〜 2021年3月"
    >
      <span class="badge badge-primary">Angular</span>
      <span class="badge badge-neutral">Tailwind CSS</span>
      <span class="badge badge-neutral">Nest.js</span>
      <span class="badge badge-neutral">MongoDB</span>
    </TimeLineElement>

    <TimeLineElement
      class="mb-4"
      title="iOSエンジニア at ノートアプリ"
      subtitle="2020年4月 〜 2021年1月"
    >
      <span class="badge badge-neutral">Swift</span>
    </TimeLineElement>

    <TimeLineElement
      class="mb-4"
      title="フルスタックエンジニア at IoTファイル管理システム"
      subtitle="2020年2月 〜 2020年3月"
    >
      <span class="badge badge-primary">Angular</span>
      <span class="badge badge-neutral">PrimeNG</span>
      <span class="badge badge-neutral">Nest.js</span>
      <span class="badge badge-neutral">DynamoDB</span>
    </TimeLineElement>

    <TimeLineElement
      class="mb-4"
      title="フルスタックエンジニア at 木材検査システム"
      subtitle="2019年7月 〜 2020年2月"
    >
      <span class="badge badge-primary">Angular</span>
      <span class="badge badge-neutral">Express</span>
      <span class="badge badge-neutral">MongoDB</span>
    </TimeLineElement>

    <TimeLineElement
      class="mb-4"
      title="フルスタックエンジニア at 通信販売基幹システム"
      subtitle="2019年1月 〜 2019年6月"
    >
      <span class="badge badge-primary">Angular</span>
      <span class="badge badge-neutral">Bulma</span>
      <span class="badge badge-neutral">Nest.js</span>
      <span class="badge badge-neutral">MongoDB</span>
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>ネットワークスペシャリスト (2015年10月)</li>
    <li>データベーススペシャリスト (2014年4月)</li>
    <li>セキュリティスペシャリスト (2012年10月)</li>
    <li>応用情報技術者 (2011年4月)</li>
  </ul>
</BaseLayout>
