---
const { title, subtitle } = Astro.props;
---

<div class="flex">
  <div class="bio__time">
    <span class="mt-1 block h-4 w-4 rounded-full bg-primary"></span>
    <span class="bio___line block h-full w-[2px] translate-x-[7px] bg-primary"
    ></span>
  </div>
  <div class="bio__data bd-grid px-5">
    <h3 class="text-lg font-semibold">{title}</h3>
    <span class="text-sm font-light">{subtitle}</span>
  </div>
</div>

<style>
  div:last-child .bio__time > .bio___line {
    display: none;
  }
</style>
