---
const { name, tooltip } = Astro.props;
import { Icon } from 'astro-icon/components';
---

<div
  class="tooltip h-8 w-8 place-content-center place-items-center rounded-full bg-white shadow-md"
  data-tip={tooltip}
>
  <Icon name={name} size="24" />
</div>
