---
const { sideBarActiveItemID } = Astro.props;
const activeClass = 'bg-base-300'; // For primary color replace with `active` class
---

<ul class="menu menu-md shrink grow overflow-y-auto">
  <li><a class="py-3 text-base" id="about" href="./about">About</a></li>
  <li>
    <a class="py-3 text-base" id="resume" href="./resume/">Resume</a>
  </li>
  <li><a class="py-3 text-base" id="blog" href="./blog/">Blog</a></li>
</ul>

<script
  define:vars={{
    sideBarActiveItemID: sideBarActiveItemID,
    activeClass: activeClass,
  }}
>
  const activeItemElem = document.getElementById(sideBarActiveItemID);
  activeItemElem.classList.add(activeClass);
</script>
