---
const { title, subtitle } = Astro.props;
---

<div class:list={['flex', 'mb-4', Astro.props.class]}>
  <div class="education__time">
    <span class="mt-1 block h-4 w-4 rounded-full bg-primary"></span>
    <span
      class="education__line block h-full w-[2px] translate-x-[7px] bg-primary"
    ></span>
  </div>
  <div
    class="experience__data bd-grid collapse collapse-arrow ml-5 bg-base-200 pl-5"
  >
    <input type="checkbox" />
    <div class="collapse-title mt-2 p-0 text-lg">
      <h3 class="font-semibold">{title}</h3>
      <span class="text-sm font-light">{subtitle}</span>
    </div>
    <div class="collapse-content text-justify">
      <slot />
    </div>
  </div>
</div>

<style>
  div:last-child .education__time > .education__line {
    display: none;
  }
</style>
